
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Iniciar sesión
</button>
<h3><a href="@Url.Content("Registro")">Regístrarse</a></h3>
<a href="#" onclick="noRegistrado()">Crea tu espacio virtual</a>

<br />
<br />
<!-- Modal -->
<form action="@Url.Action("Acceso")" method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <label>Ingrese usuario</label><br /><br />
                    <input type="text" name="USUARIO" value="" /><br /><br />
                    <input type="password" name="CLAVE" value="" />

                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Ingresar" />
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function noRegistrado() {
        alert("No haz iniciado sesión? Si no tienes una cuenta puedes resgistrarte")
    }
</script>